*{
  margin: 0;
  padding: 0;

}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #777;
}
.container{
max-width: 120rem;
margin: 8rem auto;
background-color: #f4f2f2;
box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
min-height: 50rem;


}
.header{
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

}
.content{
  display: flex;

}
.sidebar{
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.hotel-view{
  background-color: #fff;
  flex: 1;
  /* height: 80rem; */

}
.logo{
  height: 8.23rem;
  margin-left: 2rem;

}
.search{
/* background-color: orangered; */
flex: 0 0 40%;
display: flex;
align-items: center;
justify-content: center;
}
.search__input{
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #f4f2f2;
  color: inherit;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .2s;
  margin-right: -3.25rem;
}
.search__input:focus{
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}
.search__input:focus + .search__button{
  background-color: #f0eeee;

}
.search__button{
  border: none;
  background-color: #f4f2f2;

}
.search__button:focus{
  outline: none;
}
.search__button:active{
  transform: translateY(2px);
}
.search__icon{
  height: 2rem;
  width: 2rem;
  fill: #999;

}
.search::-webkit-input-placeholder{
  font-weight: 100;
  color: #ccc;
  font-size: 1rem;
}
.user-nav{
  /* background-color: greenyellow; */
   display: flex;
   align-items: center;
   align-self: stretch;
}
.user-nav__icon-box{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.user-nav__icon-box:hover{
  background-color: #f4f2f2;
}
.user-nav__icon{
  height: 2.25rem;
  width: 2.25rem;
  fill: #777;
  
}
.user-nav__notification{
  font-size: .8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: #eb2f64;
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}
.user-nav__user:hover{
  background-color: #f4f2f2;  
}
.user-nav__user-photo{
  height: 3.25rem;
  border-radius: 50%;
  margin-right: 1rem;

}
.side-nav{
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

}
.side-nav__item{
  position: relative;

}
.side-nav__item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #eb2f64;
  transform: scaleY(0);
  transition: transform .2s,
      width .4s cubic-bezier(1,0,0,1) .2s,
      background-color .1s;
}
.side-nav__item:not(:last-child){
  margin-bottom: .5rem;
}
.side-nav__item:hover::before,
.side-nav__item--active::before{
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before{
  background-color: #ff3366;
}


.side-nav__link:link,
.side-nav__link:visited{ 
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
   position: relative;
   z-index: 10;

}
.side-nav__icon{
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: #faf9f9;

}
.legal{
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  padding: 2.5rem;

}
.gallery{
 display: flex;
}

.gallery__photo{
  display: block;
  width: 100%;
  height: 40vh;
}
.overview{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2;
}
.overview__heading{
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;

}
.overview__stars{
   /* flex: 1; */
   margin-right: auto;
   display: flex;
   /* background-color: orangered; */
}
.overview__icon-star,
.overview__icon-location{
  width: 1.75rem;
  height: 1.75rem;
  fill: #eb2f64;
}
.btn-inline{
  border: none;
  color: #eb2f64;
  font-size: 1.5rem;
  border-bottom: 1px solid #eb2f64;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
}
.btn-inline span{
  margin-left: 3px;
  transition: all .2s;
}
.btn-inline:hover span{
  margin-left: 8px;
}

.btn-inline:hover{
  color: #333;
  border-bottom: 1px solid #333;

  
}

.btn-inline:focus{
  outline: none;
  animation: pulsate 1s infinite;

}
@keyframes pulsate{
  0%{
    transform: scale(1);
    box-shadow: none;

  }
  50%{

    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
  }
  100%{
    transform: scale(1);
    box-shadow: none;
  }
}
.overview__location{
  font-size: 1.2rem;
  display: flex;
  vertical-align: center;
}
.overview__icon-location{
  margin-right: .5rem;
}
.overview__rating{
 background-color: #eb2f64;
 color: #fff;
 margin-left: 3rem;
 padding: 0 2.25rem;
 align-self: stretch;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.overview__rating-average{
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}
.overview__rating-count{
  font-size: .8rem;
  text-transform: uppercase;

}
.detail{
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
}
.description{
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.paragraph:not(:last-of-type){
  margin-bottom: 2rem;
  font-size: 1.25rem;

}
.paragraph{
  font-size: 1.25rem;
}

.list{
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 2px solid #f4f2f2;
  border-bottom: 2px solid #f4f2f2;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;

}
.list-item{
  flex: 0 0 50%;
  margin-bottom: .7rem;

}
.list-item::before{
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;
  /* background-image: url(./image/chevron-right.svg); */
  background-color: #ff3366;
  -webkit-mask-image: url(./image/chevron-right.svg);
  -webkit-mask-size: cover; 
  mask-image: url(./image/chevron-right.svg);
  mask-size: cover; /*to make it work for future browser */

}
.recommend{
  font-size: 1.3rem;
  color: #ccc;
  display: flex;
  align-items: center;
}
.recommend__count{
  margin-right: auto;

}
.recommend__photo{
  box-sizing: content-box; /* to add  a border to the width without changing its given width */
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;


}
.recommend__photo:not(:last-child){
  margin-right: -1.5rem;

}
.user-reviews{
  /* background-color: orangered; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: block; */
}
.review__photo{
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.review{
  background-color: #fff;
  font-size: 1.25rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .2);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;

}
.review__user{
  display: flex;
  align-items: center;
}
.review__text{
  margin-bottom: 2rem;
  z-index: 10; /*z index work when you set position */
  position: relative;

}
.review__user-box{
  margin-right: auto;

}
.review__user-name{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem;

}
.review__user-date{
  font-size: 1rem;
  color: #9999;

}
.review__rating{
  color: #eb2f64;
  font-size: 2.2rem;
  font-weight: 300;
}
.review::before{
  content: "\201C"; /* to add quotation */
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: #f4f2f2;
  font-family: sans-serif;
  z-index: 1;
}
.cta{
  padding: 3.5rem 0;
  text-align: center;

}
.cta__book-now{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;

}
.btn{
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn:hover{
  background-image: linear-gradient(to left, #FF3366, #BA265D);
}
.btn:focus{
  outline: none;
  animation: pulsate 1s infinite;
}

.btn__visible{
  display: inline-block;
  padding: 2rem 7.5rem;
  height: 100%;
  width: 100%;
  transition: all .2s;

}
.btn__invisible{
  display: inline-block;
  position: absolute;
  left: 0;
  top: -100%;
  padding: 2rem 0;
  height: 100%;
  width: 100%;
  transition: all .2s;
}
.btn:hover .btn__visible{
  transform: translateY(100%);
}
.btn:hover .btn__invisible{
  top: 0;
}
